<p>
  SearchBox
  <input
    appBasicHightlight
    type="text"
    [(ngModel)]="filter"
    (input)="filterShoppingList(filter)"
  />
</p>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Name (Amount)</th>
      <th>Price</th>
    </tr>
  </thead>
  <tr
    *ngFor="let ingredient of filteredShoppingList; let i = index"
    style="cursor:pointer"
    [ngClass]="{ selectedIngredientMarkup: selectedIngredientIndex === i }"
    (click)="select(i)"
  >
    <td>
      {{ ingredient.name }}
      <span [ngClass]="{ hideThis: ingredient.amount < 2 }">
        ( {{ ingredient.amount }} )</span
      >
    </td>
    <td>{{ ingredient.price }}</td>
  </tr>
</table>
