<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div formGroupName="ingredient">
          <div class="col-sm-5 form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" formControlName="name" />
          </div>
          <div class="col-sm-2 form-group">
            <label for="amount">Amount</label>
            <input
              type="number"
              class="form-control"
              formControlName="amount"
            />
          </div>
        </div>
        <div class="col-sm-5 form-group">
          <label for="comments">Additional Comments</label>
          <input type="text" class="form-control" formControlName="comment" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit">Add</button>
          <button class="btn btn-danger" type="button">
            Delete (Not implemented yet)
          </button>
          <button class="btn btn-primary" type="reset">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
<hr />
<div>
  <p>Form value:</p>

  <p
    [ngClass]="{
      filled: form.value.ingredient.name.length
    }"
  >
    {{ form.value.ingredient.name | json }}
  </p>

  <p
    [ngClass]="{
      filled: form.value.ingredient.amount.length !== 0
    }"
  >
    {{ form.value.ingredient.amount | json }}
  </p>

  <p
    [ngStyle]="{
      backgroundColor: form.value.comment.length ? 'lightblue' : 'transparent'
    }"
  >
    {{ form.value.comment | json }}
  </p>
</div>
