<button type="button" class="btn" (click)="DisplayDetails()">
  Display Details
</button>

<div
  [ngStyle]="{ backgroundColor: getDisplayColor() }"
  [ngClass]="{ displayColor: detailsDisplayed === true }"
>
  <p *ngIf="detailsDisplayed; else noDetails">
    Id = {{ iD }} Password = {{ password }}
  </p>

  <br />
  Times Clicked =
  <div *ngFor="let logItem of log">{{ logItem }}</div>

  {{ log }}
  <br />

  <ng-template #noDetails>
    <p #noDetails>No Details available</p>
  </ng-template>
</div>

<!-- [ngStyle]="{backgroundColor: logItem >= 5 ? 'blue' : 'red'}" > -->
