<app-header></app-header>
<br />
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- 
<div style="background:lightslategray">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Welcome {{ title }}! on location app.component</h1>
        <div class="col-md-6">
          <button
            type="button"
            class="btn btn-primary"
            (click)="onToggleDate()"
          >
            Show Date
          </button>

          <p
            *ngIf="toggleDate; else noDate"
            [ngStyle]="{ backgroundColor: generateColour() }"
          >
            {{ currentDate }}
          </p>

          <ng-template #noDate>
            <p #noDate></p>
          </ng-template>
        </div>

        <div>
          Insert your name here:
          <input type="text" [(ngModel)]="title" />
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />
  <br />

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <app-servers></app-servers>
      </div>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />
  <br />

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Assignments:</h1>
        <br />
        <app-username-assignment></app-username-assignment>
        <br />
        <app-display-details-assignment></app-display-details-assignment>
      </div>
    </div>
  </div>

  <app-practice-stuff></app-practice-stuff>
</div> -->
